@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

* {
    font-family: "Jetbrains Mono";
}

a {
    text-decoration: none;
    color: floralwhite;
}

a:hover {
    color: floralwhite;
}

.bread {
    width: 200px;
    height: fit-content;
    border: 3px solid #6B757D;
    border-radius: 4px;
    background-color: #6B757D;
    text-align: right;
    padding-right: 8px;
    font-size: 16px;
    color: floralwhite;
    margin: 0 10px 5px 0;
    cursor: pointer;
}

.row-header{
    margin:0 auto;
    padding:0 auto;
}

.row-content {
    margin:0 auto;
    padding: 50px 0 50px 0;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #2b2b2b;
    margin:0 auto;
    padding: 1.2rem 0;
    color: floralwhite;
}

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #0D6EFD ;
    color:floralwhite;
    border-top: 12px solid floralwhite;
    text-align: center;
}

.jumbo {
    margin: 0 auto;
    width: 65%;
}

.name {
    font-family: 'Bad Script', cursive;
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 32px;
}

address{
    font-size:80%;
    margin:0px;
}

.navbar-dark {
    background-color: #37a5ff;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
}

.nav-link {
    width: fit-content;
    color: white;
    font-size: 1.05rem;
    flex-wrap: nowrap;
}

.nav-link span {
    margin: 0 2px;
}

.nav-link:hover {
    opacity: 1;
}

.btn-social-icon {
    color: #2b2b2b;
    background-color: floralwhite;
    padding: 4px;
    /* border-radius: 8px; */
    margin: 12px;
    transition: all 250ms ease-in-out;
}

/* .btn-social-icon:hover {
    opacity: .8;
} */

.menu {
    height: 50px;
}

.logo {
    width: 3rem;
    position: relative;
    z-index: 99;
}

.links, .address {
    margin: 24px;
}

.social {
    margin: 24px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.wrapper .btn-add {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.page-enter {
    opacity: 0.01;
    transform: translateX(-100%);
}

.page-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 520ms ease-in-out;
}

.page-exit {
    opacity: 1;
    transform: translateX(0%);
}

.page-exit-active {
    opacity: 0.01;
    transform: translateX(100%);
    transition: all 520ms ease-in-out;
}